################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Innorik.Attendance.System/.vs/Innorik.Attendance.System/FileContentIndex
/Innorik.Attendance.System/obj/Debug/net6.0/Innorik.Attendance.System.Api.assets.cache
/Innorik.Attendance.System/obj/Debug/net6.0/Innorik.Attendance.System.Api.GeneratedMSBuildEditorConfig.editorconfig
/Innorik.Attendance.System.Application/obj/Debug/net6.0/Innorik.Attendance.System.Application.assets.cache
/Innorik.Attendance.System.Application/obj/Debug/net6.0/Innorik.Attendance.System.Application.csproj.AssemblyReference.cache
/Innorik.Attendance.System.Application/obj/Debug/net6.0/Innorik.Attendance.System.Application.GeneratedMSBuildEditorConfig.editorconfig
/Innorik.Attendance.System.Domain/obj/Debug/net6.0/Innorik.Attendance.System.Domain.assets.cache
/Innorik.Attendance.System.Domain/obj/Debug/net6.0/Innorik.Attendance.System.Domain.csproj.AssemblyReference.cache
/Innorik.Attendance.System.Domain/obj/Debug/net6.0/Innorik.Attendance.System.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Innorik.Attendance.System.Infrastructure/obj/Debug/net6.0/Innorik.Attendance.System.Infrastructure.assets.cache
/Innorik.Attendance.System.Infrastructure/obj/Debug/net6.0/Innorik.Attendance.System.Infrastructure.csproj.AssemblyReference.cache
/Innorik.Attendance.System.Infrastructure/obj/Debug/net6.0/Innorik.Attendance.System.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
